<!-- <ion-header collapse="condense" class="ion-no-border" [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title color="white" size="medium">Receipt Detail</ion-title>
    <ion-button href="/DigitalReceiptKeeper/ViewReceipt" slot="start" fill="clear" size="small">
      <ion-icon name="arrow-back-outline" color="white"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header> -->

<ion-header collapse="condense" class="ion-no-border" [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title color="white" size="medium">Receipt Detail</ion-title>
    <ion-button (click)="navigateBack()" slot="start" fill="clear" size="small">
      <ion-icon name="arrow-back-outline" color="white"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">

  <ion-row class="ion-justify-content-between">
    <ion-col>
      <ion-label>Store Name:</ion-label>
      <ion-text>{{ReceiptDetail.storeName}}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-between">
    <ion-col>
      <ion-label>Receipt Date:</ion-label>
      <ion-text>{{formatDate(ReceiptDetail.receiptDate)}}</ion-text>
    </ion-col>
  </ion-row> 


  <iframe [src]="trustedReceiptURL" width="100%" height="600"  frameborder="0"></iframe>
</ion-content>
