<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="QRcode" href="/DigitalReceiptKeeper/QRcode">
      <ion-icon aria-hidden="true" name="qr-code-outline"></ion-icon>
      <ion-label>QR code</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="AddReceipt" href="/DigitalReceiptKeeper/AddReceipt">
      <ion-icon aria-hidden="true" name="create"></ion-icon>
      <ion-label>Add Receipt</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ViewReceipt" href="/DigitalReceiptKeeper/ViewReceipt">
      <ion-icon aria-hidden="true" name="receipt"></ion-icon>
      <ion-label>My Receipts</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
