<ion-header collapse="condense" class="ion-no-border" translucent="true" >
  <ion-toolbar color="primary" >
    <ion-title color="white" size="medium">Add New Receipt</ion-title>
  </ion-toolbar>
</ion-header>



<!--Add QR code section-->
<ion-content [fullscreen]="true">
<p></p>
    <form #form = "ngForm" (ngSubmit)="addReceipt()">
      <ion-list >
        <ion-item>
          <ion-input
            label="Store Name"
            placeholder="Store Name"
            [clearInput]="true"
            type = "text"
            name = "storeName" [(ngModel)]="addReceiptRequest.storeName"
          >
          </ion-input>
        </ion-item>
<p></p>
          <ion-item>
            <ion-datetime 
            showDefaultButtons = "true" 
            locale="en-AU"
            id="calendar_receiptDate"
            name = "receiptDate"
            [(ngModel)]="addReceiptRequest.receiptDate"
            
            ></ion-datetime>
          </ion-item>
          <p></p>
        <ion-item>
          <ion-input
            label="Receipt Date:"
            type = "text"
            name = "receiptDate" 
            [value]="formatDate(addReceiptRequest.receiptDate)"
          >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="Amount"
            type = "text"
            name = "receiptAmount" [(ngModel)]="addReceiptRequest.receiptAmount"
            
          >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="Receipt URL"
            [clearInput]="true"
            type = "text"
            name = "receiptFilePath" [(ngModel)]="addReceiptRequest.receiptFilePath"
          >
          </ion-input>
        </ion-item>



      </ion-list>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-button class="btn btn-primary" type="submit" size="medium">Add Receipt</ion-button>
        </ion-col>
      </ion-row>

    </form>


</ion-content>
